<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="top">
            <h3>Выйти</h3>
        </div>
    </div>
    <div class="container">
        <div id="menu" class="menu">
            <h3>Меню</h3>
            <ul >
                <li v-for="todo in todos">
                   <a href="#"> {{ todo.text }}</a>
                </li>
            </ul>
        </div>
        <div id="app" class="app">  
            <div class="buttons-top">
                <ul >
                    <li>
                        <a v-on:click="list" href="#">Список</a>
                    </li>
                    <li>
                        <a v-on:click="add" href="#">Добавить</a>
                    </li>
                </ul>
            </div>
            <div class="list" v-if="page == 'list'">
                    <ol>
                        <li v-for="item in items">
                            <a href="#" v-on:click="selectItem(item.name)">{{ item.name }}</a>
                        </li>
                    </ol> 
            </div>
            <div v-if="page == 'form'">
                    <div class="chip">Фишка</div>
                    <form class="form-container ">
                        <!-- <div class="form clearfix">
                            <div class="labels">
                                <label for="name">Название</label>
                                <label for="checkbox">Включен</label>
                                <label for="description">Описание</label>
                                <label for="label">Ярлычок</label>
                                <label for="color">Цвет</label>
                            </div>
                            <div class="forms">
                                <input class="input" type="text" name="name" id="name" v-model="name"/>
                                <input class="input" type="checkbox" checked id="checkbox" v-model="checkbox"/>
                                <textarea class="input" rows="2" name="description" id="description" v-model="description"></textarea>
                                <input class="input" type="textarea" name="label" id="label" v-model="label"/>
                                <input class="input" type="color" name="color" id="color" v-model="color"/>
                            </div>
                        </div> -->
                        <div class="main">
                            <div class="form clearfix">   

                                <div class="field">
                                   <label for="name">Название</label>
                                   <input v-if="mode == 'add'" class="input" type="text" name="name" id="name" v-model="formName"/>
                                   <div class="form-name" v-if="mode == 'edit'" >{{ formName }}</div>
                                </div>
                                
                                <div class="field">
                                   <label for="checkbox">Включен</label>
                                   <input class="input" type="checkbox" checked id="checkbox" v-model="formCheckbox"/>
                                </div>
                                <div class="field">
                                    <label for="description">Описание</label>
                                    <textarea class="input" rows="2" name="description" id="description" v-model="formDescription"></textarea>
                                </div>
                                <div class="field">
                                    <label for="label">Ярлычок</label>
                                    <input class="input" type="textarea" name="label" id="label" v-model="formLabel"/>
                                </div>
                                <div class="field">
                                    <label for="color">Цвет</label>
                                    <input class="input" type="color" name="color" id="color" v-model="formColor"/>
                                </div>
                            </div>
                                
                                <input v-if="mode == 'add'" type="button" v-on:click="addItem" value="Добавить" class="button"/>
                                <input v-if="mode == 'edit'" type="button" v-on:click="editItem" value="Изменить" class="button"/>
                                <input v-if="mode == 'edit'" type="button" v-on:click="deleteItem" value="Удалить" class="button"/>
                            </div>
                        
                        
                    </form>
                </div>
        </div>     
        <script src="main.js"></script>
    </div>
</body>
</html>