<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="top">
            <h3>Выйти</h3>
        </div>
        <div id="menu" class="menu">
            <h3>Меню</h3>
            <ul >
                <li v-for="todo in todos">
                   <a href="#"> {{ todo.text }}</a>
                </li>
            </ul>
        </div>
        <div id="app" class="app">  
            <div class="buttons-top">
                <ul >
                    <li>
                        <a v-on:click="list" href="#">Список</a>
                    </li>
                    <li>
                        <a v-on:click="add" href="#">Добавить</a>
                    </li>
                </ul>
            </div>
            <div class="list" v-if="page == 'list'">
                    <ol>
                        <li v-for="item in items">
                            <a href="#" v-on:click="selectItem(item.name)">{{ item.name }}</a>
                        </li>
                    </ol> 
            </div>
            <div v-if="page == 'form'">
                    <div class="chip">Фишка</div>
                    <form class="form-container">
                        <div class="form">
                            <div v-if="mode == 'edit'">{{ item.name }}</div>
                            <div v-if="mode == 'add'">
                                <label for="name">Название</label>
                                <input type="text" name="name" id="name" v-model="name"/>
                            </div>
                            <div>
                                <label for="checkbox">Включен</label>
                                <input type="checkbox" checked id="checkbox" v-model="checkbox"/>
                            </div>
                            <div>
                                <label for="description">Описание</label>
                                <textarea rows="3" name="description" id="description" v-model="description"></textarea>
                            </div>
                            <div>
                                <label for="label">Ярлычок</label>
                                <input type="textarea" name="label" id="label" v-model="label"/>
                            </div>
                            <div>
                                <label for="color">Цвет</label>
                                <input type="color" name="color" id="color" v-model="color"/>
                            </div>
                        </div>
                        <input v-if="mode == 'add'" type="button" v-on:click="addItem" value="Добавить" class="button"/>
                        <input v-if="mode == 'edit'" type="button" v-on:click="editItem" value="Изменить"/>
                        <input v-if="mode == 'edit'" type="button" v-on:click="deleteItem" value="Удалить"/>
                    </form>
                </div>
        </div>     
        <script src="main.js"></script>
    </div>
</body>
</html>