body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    background-color: white;
}

.container {
    width: 1020px;
    margin: 0 auto;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.menu{
    float: left;
    top:60px;
}
.menu ul{
    list-style-image: url("img/ret.png");
    width: 200px;
    border: 2px solid rgb(32, 224, 186);
    font-weight: bold;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.menu h3{
    color: rgb(109, 108, 108);
    font-size: 24px;
}
.top{
    background: rgb(245,66,96);
    color: white;
    
}
.top h3{
    font-weight: bold;
    padding: 10px;
}
.app{
    float: right;
    margin-top:10px;
    left:380px;
    top: 70px;
}
.buttons-top{
    font-size: 18px;
    width: 750px;
    height: 60px;
    margin-left: 20px;
    border-bottom: 2px solid rgb(32, 224, 186);
}
.buttons-top ul{
    display: inline-block;
    text-transform: uppercase;
    list-style: none;
    padding-left: 0;
}
.buttons-top li{
    float: left;
    margin-right: 20px;
}
.buttons-top li a{
    color: rgb(109, 108, 108);
    text-decoration: none;
}
.list li a{
    text-decoration: none;
    color: black;
}
.chip{
    width: 50px;
    top: 80px;
    left:20px;
    color: white;
    background-color: rgb(245,66,96);
    padding: 5px 10px 5px 10px;
    border-radius: 5px 5px 0 0;
    margin-top: 20px;
    margin-left:20px;
}
/* .labels{
    width: 80px;
    display: block;
    float: left;
    margin: 10px;
} */
.forms{
    width: 600px;
    float: right;
    text-align: left;
}
.form-container{
    float:right;
    top: 110px;
    left:20px;
    width:750px;
}
.form{
    background-color: rgb(229,235,235);
    border-top: 2px solid rgb(245,66,96);
    border-bottom: 2px solid rgb(167, 168, 168);
    border-radius: 0 5px 5px 5px;
    padding: 10px;
}

.form label{
    color: rgb(5,158,139);
    padding: 10px 10px 10px 30px;
    display: inline-block;
}
.button{
    color:white;
    background-color: rgb(8, 187, 166);
    border: none;
    display: inline-block;
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    margin-top: 10px;
    height: 30px;
    width: 100px;
}
.input{
    border-radius: 5px;
    border:1px solid rgb(167, 168, 168);
    width:500px;
    line-height: 26px;
    margin-left: 50px;
    margin-top: 10px;
}
.field {
    clear:both; 
    text-align:right;
}
label {
    float:left;
}
.main {
    float:left;
    top: 110px;
    left:20px;
    width:750px;
}
input[type=color]{
    height: 30px;
    padding: 5px;
    width: 505px;
}
input[type=checkbox]{
    width: 20px;
    margin-right: 485px;
}