body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    background-color: white;
}

.container {
    width: 1020px;
    margin: 0 auto;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.menu{
    position: absolute;
    top:60px;
}
.menu ul{
    list-style-image: url("img/ret.png");
    width: 200px;
    border: 2px solid rgb(32, 224, 186);
    font-weight: bold;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.menu h3{
    color: rgb(109, 108, 108);
    font-size: 24px;
}
.top{
    background: rgb(245,66,96);
    color: white;
    
}
.top h3{
    font-weight: bold;
    padding: 10px;
}
.app{
    position: absolute;
    left:380px;
    top: 70px;
}
.buttons-top{
    font-size: 18px;
    width: 750px;
    height: 60px;
    margin-left: 20px;
    border-bottom: 2px solid rgb(32, 224, 186);
}
.buttons-top ul{
    display: inline-block;
    text-transform: uppercase;
    list-style: none;
    padding-left: 0;
}
.buttons-top li{
    float: left;
    margin-right: 20px;
}
.buttons-top li a{
    color: rgb(109, 108, 108);
    text-decoration: none;
}
.list li a{
    text-decoration: none;
    color: black;
}